@model LlamaStoreVista.Models.Admin.AdminViewModel

<span class="close-modal">&times;</span>
<h3 id="modal-product-title">Agregar Nuevo Producto</h3>

<form asp-action="AgregarProducto" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <div class="form-group">
            <label for="product-id">ID del Producto</label>
            <input asp-for="NuevoProducto.idcel" type="text" required>
            <span asp-validation-for="NuevoProducto.idcel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="product-model">Modelo</label>
            <input asp-for="NuevoProducto.modelo" type="text" required>
            <span asp-validation-for="NuevoProducto.modelo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="product-brand">Marca</label>
            <select asp-for="NuevoProducto.idmarca" asp-items="Model.ListaMarcas">
                <option value="">Seleccionar sistema</option>
            </select>
            <span asp-validation-for="NuevoProducto.idmarca" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="product-gama">Gama</label>
            <select asp-for="NuevoProducto.idgama" asp-items="Model.ListaGamas">
                <option value="">Seleccionar sistema</option>
            </select>
            <span asp-validation-for="NuevoProducto.idgama" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="product-price">Precio</label>
            <input asp-for="NuevoProducto.precio" type="number" step="0.01" required>
            <span asp-validation-for="NuevoProducto.precio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="product-price">Precio Oferta</label>
            <input asp-for="NuevoProducto.precio_oferta" type="number" step="0.01" required>
            <span asp-validation-for="NuevoProducto.precio_oferta" class="text-danger"></span>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="product-stock">Stock</label>
            <input asp-for="NuevoProducto.stock" type="number" required>
            <span asp-validation-for="NuevoProducto.stock" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="product-min-stock">Stock Mínimo</label>
            <input asp-for="NuevoProducto.stock_minimo" type="number" value="5">
            <span asp-validation-for="NuevoProducto.stock_minimo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="product-system">Sistema Operativo</label>
            <select asp-for="NuevoProducto.idsistema" asp-items="Model.ListaSistemas">
                <option value="">Seleccionar sistema</option>
            </select>
            <span asp-validation-for="NuevoProducto.idsistema" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="product-status">Estado</label>
            <select asp-for="NuevoProducto.idestado" asp-items="Model.ListaEstados">
                <option value="">Seleccionar sistema</option>
            </select>
            <span asp-validation-for="NuevoProducto.idestado" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group full-width">
        <label for="product-specs">Especificaciones</label>
        <textarea asp-for="NuevoProducto.especificaciones" rows="4"></textarea>
        <span asp-validation-for="NuevoProducto.especificaciones" class="text-danger"></span>
    </div>

    <div class="form-actions">
        <button type="button" class="btn btn-secondary" id="cancel-product">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar Producto</button>
    </div>

</form>
<div>
    <p>
        @TempData["mensaje"]
    </p>
</div>

