@model LlamaStoreVista.Models.Admin.AdminViewModel

@foreach (var a in Model.Auditorias)
{
    <div class="activity-item">
        <div class="activity-icon">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="activity-details">
            <p>@a.accion</p>
            <span class="activity-time">@a.fecha</span>
        </div>
        <span class="activity-amount">@a.usuario</span>
    </div>
}

