@using LlamaStoreVista.Models.Product
@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" href="img/Logos/logo-llamastore.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/ContainerGeneral.css">
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Index.css">
    
</head>

<body>

    <div class="container1">

        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    <a class="navbar-brand d-flex align-items-center" href="/Productos/Index">
                        <img src="~/img/Logos/transparente.png" alt="Logo" class="me-2 logo-img">
                    </a>
                    <div class="d-flex align-items-center gap-3 order-lg-2">
                        <button class="btn position-relative" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                            <i class="fa-solid fa-cart-shopping fa-lg"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                2
                            </span>
                        </button>

                        <a href="/Usuarios/login" class="btn btn-outline-primary">
                            <i class="fa-solid fa-user"></i>
                            <span class="login-text ms-2">Ingresar</span>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse order-lg-1 justify-content-center" id="navbarContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">

                            <!-- Dropdown de Productos -->
                            <li class="nav-item dropdown">
                                <a class="underline-hover" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Productos
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/Productos/IphonesProductos">
                                            iPhones
                                            <i class="fa-brands fa-apple"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Android
                                            <i class="fa-brands fa-android"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Accesorios/AccesoriosProductos">
                                            Accesorios
                                            <i class="fa-solid fa-headphones"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Ofertas Especiales
                                            <i class="fa-solid fa-tags"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="underline-hover" href="~/html/sobre_nosotros.html">
                                    Nosotros
                                    <i class="fa-solid fa-users"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="underline-hover" href="~/html/PreguntasFrecuentes.html">
                                    Preguntas Frecuentes
                                    <i class="fa-solid fa-question"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="underline-hover" href="~/html/contacto.html">
                                    Contactanos
                                    <i class="fa-solid fa-address-book"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="underline-hover" href="/Admin/VistaAdmin">
                                    Admin
                                    <i class="fa-solid fa-address-book"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="underline-hover" href="/Usuarios/ActualizarUsuario">
                                    Actualizar
                                    <i class="fa-solid fa-address-book"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>


            <!-- Offcanvas Carrito -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasCartLabel">Mi Carrito</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group">

                        <!-- Producto 1 -->
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <h6>Producto 1</h6>
                                <small>Cantidad: 1</small>
                            </div>
                            <span>S/ 150</span>
                        </div>

                        <!-- Producto 2 -->
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <h6>Producto 2</h6>
                                <small>Cantidad: 2</small>
                            </div>
                            <span>S/ 300</span>
                        </div>

                    </div>

                    <!-- Total -->
                    <div class="mt-4 border-top pt-3">
                        <h5>Total: <strong>S/ 450</strong></h5>
                        <a href="#" class="btn btn-success w-100 mt-2">Ir a Pagar</a>
                    </div>
                </div>
            </div>
        </header>

        <!--========================================================ASIDE================================================================-->
        <!--========================================================ASIDE================================================================-->
        <!--========================================================ASIDE================================================================-->
        <!--========================================================ASIDE================================================================-->
        <!--========================================================ASIDE================================================================-->

        <main>
            <div class="container">
                <div class="imagen1">

                    <img src="/img/baners/baner_principal.png">

                </div>
                <div class="imagen1">

                    <img src="/img/baners/baner_azul.png">

                </div>
                <div class="imagen1">

                    <img src="/img/baners/baner_secundario.png">

                </div>
                <div class="titulossssss">
                    <h2>¿Selfies increíbles 📸 o rendimiento para juegos🏆?</h2>
                    <h5>Encuentra el iPhone que se adapta más a tu estilo de vida. Vamos>></h5>
                </div>
                <div class="imagen2">

                    <section class="container my-5">


                        <div class="row justify-content-center g-4">
                            <!-- Iphone 1 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="card iphone-card text-center h-100">
                                    <img src="../img/iphone 11.jpg" class="iphone-img p-4" alt="iPhone 11">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">iPhone 11</h5>
                                        <p class="card-text text-primary fw-bold fs-5">S/1500.00</p>
                                        <a href="#" class="btn iphone-btn w-75">Lo Quiero</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Iphone 2 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">

                                <div class="card iphone-card text-center h-100">
                                    <img src="../img/iphone 11.jpg" class="iphone-img p-4" alt="iPhone 11">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">iPhone 11</h5>
                                        <p class="card-text text-primary fw-bold fs-5">S/1500.00</p>
                                        <a href="#" class="btn iphone-btn w-75">Lo Quiero</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Iphone 3-->
                            <div class="col-lg-3 col-md-4 col-sm-6">

                                <div class="card iphone-card text-center h-100">
                                    <img src="../img/iphone 11.jpg" class="iphone-img p-4" alt="iPhone 11">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">iPhone 11</h5>
                                        <p class="card-text text-primary fw-bold fs-5">S/1500.00</p>
                                        <a href="#" class="btn iphone-btn w-75">Lo Quiero</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Iphone 4 -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="card iphone-card text-center h-100">
                                    <img src="../img/iphone 11.jpg" class="iphone-img p-4" alt="iPhone 11">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">iPhone 11</h5>
                                        <p class="card-text text-primary fw-bold fs-5">S/1500.00</p>
                                        <a href="#" class="btn iphone-btn w-75">Lo Quiero</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <br>

                <div class="carrusel1">
                    <h2>Nuestros clientes opinan 💖</h2>

                    <div class="carousel-container">
                        <div class="carousel-track" id="carousel-track">
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=1" alt="Cliente 1" />
                                <h4>Nayeli A</h4>
                                <p>Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>He comprado mi celular...</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=2" alt="Cliente 2" />
                                <h4>Jorge B</h4>
                                <p>12 Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Es mi segunda compra y fue...</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=3" alt="Cliente 3" />
                                <h4>Manuel G</h4>
                                <p>1 Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Buen producto y buen servicio</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=4" alt="Cliente 4" />
                                <h4>Cory C</h4>
                                <p>16 Abril 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Visité la tienda y me dieron...</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=1" alt="Cliente 1" />
                                <h4>Nayeli A</h4>
                                <p>Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>He comprado mi celular...</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=2" alt="Cliente 2" />
                                <h4>Jorge B</h4>
                                <p>12 Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Es mi segunda compra y fue...</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=3" alt="Cliente 3" />
                                <h4>Manuel G</h4>
                                <p>1 Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Buen producto y buen servicio</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=4" alt="Cliente 4" />
                                <h4>Cory C</h4>
                                <p>16 Abril 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Visité la tienda y me dieron...</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=1" alt="Cliente 1" />
                                <h4>Nayeli A</h4>
                                <p>Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>He comprado mi celular...</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=2" alt="Cliente 2" />
                                <h4>Jorge B</h4>
                                <p>12 Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Es mi segunda compra y fue...</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=3" alt="Cliente 3" />
                                <h4>Manuel G</h4>
                                <p>1 Mayo 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Buen producto y buen servicio</p>
                            </div>
                            <div class="card1">
                                <img src="https://i.pravatar.cc/60?img=4" alt="Cliente 4" />
                                <h4>Cory C</h4>
                                <p>16 Abril 2024</p>
                                <div class="stars">★★★★★</div>
                                <p>Visité la tienda y me dieron...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--========================================================FOOTER================================================================-->
        <!--========================================================FOOTER================================================================-->
        <!--========================================================FOOTER================================================================-->
        <!--========================================================FOOTER================================================================-->

        <footer>

            <div class="footer-top">
                <div class="feature">
                    <h1><i class="fas fa-handshake"></i></h1>
                    <div class="">
                        <h4>Servicio Perfecto</h4>
                        <b>Nuestro amigable equipo a la mano los 7 días de la semana.</b>
                    </div>
                </div>
                <div class="feature">
                    <h1><i class="fa-solid fa-sack-dollar"></i></h1>
                    <div class="">
                        <h4>Valor asombroso</h4>
                        <b>Las marcas que prefieres al precio que deseas.</b>
                    </div>
                </div>
                <div class="feature">
                    <h1><i class="fas fa-truck"></i></h1>
                    <div class="">
                        <h4>Envío rápido y gratuito</h4>
                        <b>El pedido se envía en un instante y se envía en 1-3 días.</b>
                    </div>
                </div>
                <div class="feature">
                    <h1><i class="fas fa-box"></i></h1>
                    <div class="">
                        <h4>Selección Inmejorable</h4>
                        <b>Todo lo que quieras para tu carro, todo en un solo lugar.</b>
                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------------------------->

            <div class="footer-bottom">
                <div class="brand">
                    <div class="footer_bottom_logo">
                        <img src="./img/Logos/llama-store-logo-transparente.PNG" />
                    </div>
                    <div class="social-icons">
                        <a class="underline-hover" href="#"><i class="fab fa-facebook-square"></i></a>
                        <a class="underline-hover" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="underline-hover" href="#"><i class="fab fa-linkedin"></i></a>
                        <a class="underline-hover" href="#"><i class="fab fa-x"></i></a>
                        <a class="underline-hover" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="links">
                    <div>
                        <h3>Cuenta</h3>
                        <ul>
                            <li><a class="underline-hover" href="#">Órdenes</a></li>
                            <li><a class="underline-hover" href="#">Wishlist</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>Catálogo</h3>
                        <ul>
                            <li><a class="underline-hover" href="catalogo.php">Comprar por partes</a></li>
                            <li><a class="underline-hover" href="catalogo.php">Comprar por marcas</a></li>
                            <li><a class="underline-hover" href="#">Promociones</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>Ayuda</h3>
                        <ul>
                            <li><a class="underline-hover" href="sobreNosotros.php">Sobre Nosotros</a></li>
                            <li><a class="underline-hover" href="preguntasfrecuentes.php">Preguntas Frecuentes</a></li>
                            <li><a class="underline-hover" href="contactanos.php">Contáctanos</a></li>
                            <li><a class="underline-hover" href="#">Nuestras Tiendas</a></li>
                            <li><a class="underline-hover" href="tyc.php">Términos y Condiciones</a></li>
                            <li><a class="underline-hover" href="#">Libro de Reclamaciones Virtual</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contact">

                    <div class="contac_titulo">
                        <h3>¡Contáctanos!</h3>
                    </div>
                    <div class="contact_info_1">
                        <i class="fas fa-map-marker-alt"></i>
                        <div>
                            <a class="underline-hover" href="#">calle. Emily Car 115 - Surquillo</a><br>
                            <b>Lima, Perú</b>
                        </div>
                    </div>
                    <div class="contact_info_2">
                        <i class="fas fa-phone"></i>
                        <div>
                            <a class="underline-hover" href="#">Llamano entre las 9 am - 8 pm</a><br>
                            <a href="tel:666855558464" style="color:#edab4e">6668 5555 8464</a>

                        </div>
                    </div>

                </div>
            </div>

        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>